.name-display
    p Welcome, 
        if username
            | #{username}
        else
            | student!
    
    if (username)
        a(href='/users/logout')
            i.fas.fa-sign-out-alt