.name-display
    p Welcome, 
        if user
            | #{user.username}
        else
            | student!
    
    if user
        a(href='/users/logout')
            i.fas.fa-sign-out-alt
    else 
        a(href='/users/login')
            i.fas.fa-sign-in-alt