.card.card-topic
    p.description #{topic.description}

    p 
        span #{topic.cards.length} 
        | Questions

    .card-btn-bar
        a(href=`/topics/${topic.title}/cards`)
            | Begin