extends layout.pug

block main
	p This is the main content
	h5 Welcome, #{username}

	h4 Topics
	for topic in topics
		div
			a(href=`/topics/${topic.title}`) #{topic.title}

	div
		a(href='/users/logout') Logout
