extends layout.pug

block main
	include includes/name-display.pug

	.card-title
		h3 #{topic.title}
		p TOPIC

	.card 
		p.description #{topic.description}

		p Score: 
			.score
				span 18
				span /#{topic.cards.length}

		.btn-bar
			a(href=`/topics/${topic.title}/cards`) 
				i.fas.fa-arrow-right

	include includes/card-footer.pug
	