extends layout.pug

block main
	include includes/name-display.pug

	.card-title
		h3 #{topic.title}
		p TOPIC

	.card 
		p.description #{topic.description}

		p Score: 
			.card-score
				span 18
				span /#{topic.cards.length}

		.card-btn-bar
			a(href=`/topics/${topic.title}/cards`)
				| Begin

	include includes/card-footer.pug
	