extends layout.pug

block main
	//- ask the user for their name
	form(action='/users', method='POST')
		label(for='username') Username:
		input(type='text',name='username') 
		button(type='submit') Submit