.card-btn-bar {
    text-align: center;
    a {
        @extend %btn-text;
        padding-left: 20px;
        padding-right: 20px;
    }
    .flip,
    .next {
        color: $color-secondary;
        border: none;
        font-size: 1.9em;
        padding: 15px 18px 10px 23px;
    }
    .next {
        background-color: $color-primary-light;
        float: right;
    }
    .flip {
        background-color: $white;
        float: left;
    }
    .flip-rev {
        float: left;
        background-color: $color-secondary;
        color: $color-primary-light;
    }
    margin: 60px 0 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.username-form {
    button {
        @include centered(120px);
        @extend %btn-text;
        display: block;
        font-size: 1.2em;
        margin-top: 20px;
        margin-bottom: 20px; 
    }
}