.card-title {
    background-color: $color-primary-light;
    border-bottom: solid 1px rgba($color-accent, 0.3);
    p {
        text-align: center;
        margin: 0;
        padding: 15px 0 10px;
    }
    h3 {
        @include img-background("../images/locker-background.jpeg"); 
        margin: 0;
        padding: 20px 28px 15px;
        color: $color-primary-light;
        text-shadow: 0px 0px 5px rgba($color-secondary,0.8);
    }
} 

.card {
    @extend %card;
    p {
        color: rgba($color-text-dark, 0.8);
    }
    .description {
        text-align: center;
        width: 90%;
        margin: 0 auto; 
    }
}

.card-score {
    font-size: 1.5em;
    text-align: center;
    margin-top: -55px;
    margin-bottom: -30px;
    span:first-child {
        font-size: 6em;
    }
}