.name-display {
    @extend %rounded-top;
    @extend %card;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    a {
        color: $color-secondary;
    }
}

.username-form {
    @extend %rounded-bottom;
    @extend %card;
    @extend %center;
    input {
        @include centered(50%);
        @include basic($color-secondary, $color-primary);
        padding: 10px;
        border: none;
        text-align: center;
        margin: 20px 0;
    }
    label{
        display: block;
        margin: 20px 0;
    }
}

.card-footer {
    @extend %rounded-bottom;
    @extend %card;
    text-align: center;
    background-color: $color-secondary;
    i {
        @extend %btn;
    }
}