.name-display {
    @extend %rounded-top;
    @extend %card;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    a {
        color: $color-secondary;
    }
}

.username-form {
    @extend %rounded-bottom;
    @extend %card;
    @extend %center;
    button {
        @include centered(90px);
        @include basic($color-primary-light, $color-secondary);
        @extend %rounded-bottom;
        @extend %rounded-top;
        padding: 8px 0;
        border: solid 1px $color-secondary;
    }
    input {
        @include centered(50%);
        @include basic($color-secondary, $color-primary);
        padding: 10px;
        border: none;
        text-align: center;
    }
    label,
    button,
    input {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px; 
    }
}

.card-footer {
    @extend %rounded-bottom;
    @extend %card;
    text-align: center;
    background-color: $color-secondary;
    p {
        margin: 0;
    }
    i {
        color: $color-text-light
    }
}