// ============================================
// EXTENDS
// ============================================

%center {
    text-align: center;
}

%rounded-top {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

%rounded-bottom {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

%card {
    background-color: $color-primary-light;
    padding: 25px 0 0px;
    margin-bottom: 5px;
}

%btn {
    color: $color-text-light;
    background-color: $color-secondary;
}

%btn-text {
    @extend %btn;
    @extend %rounded-bottom;
    @extend %rounded-top;
    border: solid 1px $color-secondary;
    padding: 10px;
}

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%flip-colors {
    background-color: $color-secondary;
    color: $color-text-light;
}