// ============================================
// MIXINS
// ============================================

@mixin centered($width) {
    margin: 0 auto;
    width: $width
}

@mixin basic($color, $background-color) {
    color: $color;
    background-color: $background-color;
    @content;
}

@mixin flex-display($justify: center, $direction: row, $wrap: wrap) {
    display: flex;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
}